/* main {
    display: grid;
} */

#loginMain {
    text-align: center;
    width: 90%;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#passwordContainer {
    margin-bottom: 35px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    align-items: center;
    padding: 50px 5px;
    border-radius: 10px;
    box-shadow: 0 4px 4px var(--blueMid);
    margin: 0 auto 28px auto;
}

#loginForm > * {
    width: 80%;
}

#loginForm p > * {
    display: block;
  }

#loginButton {
    background-color: var(--greenDark);
    height: 50px;
    font-family: inherit;
    font-size: 18px;
    color: inherit;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#createAccountSection {
    width: 80%;
}

#createAccount {
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    display: block;
    background-color: var(--blueDark);
    border: none;
    border-radius: 30px 0 30px 30px;
    color: var(--blueLight);
}