nav h1 {
    font-family: 'Titan One', sans-serif;
    text-transform: lowercase;
    border-bottom: 1px solid var(--blueMid);
    padding-bottom: 15px;
    text-align: center;
}

nav h1 .green {
    color: var(--greenDark);
}

nav ul {
    padding: 0 0 37px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

nav li {
    padding: 0 12.5px;
}

nav a {
    color: var(--greenDark);
    text-decoration: none;
    font-weight: bolder;
    border-bottom: 1px solid var(--greenDark);
}

nav button {
    /* background-color: var(--blueDark);
    color: var(--blueLight);
     */
    background-color: transparent;
    border: none;
    color: var(--greenDark);
    text-decoration: none;
    font-weight: bolder;
    font-family: inherit;
    font-size: inherit;
    border-bottom: 1px solid var(--greenDark);
    margin: 0;
    padding: 0;
}

#logoutButton {
    cursor: pointer;
}