#createAccountPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.logo {
    text-transform: lowercase;
    font-family: 'Titan One', sans-serif;
}

.green {
    color: var(--greenDark);
}

.blue {
    color: var(--blueDark);
}

#residentType {
    text-align: center;
}

#residentType > * {
    color: var(--greenDark);
    font-weight: bolder;
}