#neighborhoodsPage h1, h2 {
    text-align: center;
    margin: 0;
}

#neighborhoodsPage h1 {
    font-weight: 600;
}

#neighborhoodsPage h2 {
    font-weight: 400;
}

#neighborhoodContainer {
    display: flex;
    justify-content: center;
}

#neighborhoodList {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.neighborhood {
    background-color: var(--greenDark);
    min-height: 155px;
    min-width: 155px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid var(--blueDark);
    padding: 20px;
}

.neighborhood a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    width: 100%;
}