#userProfilePage {
    max-width: 420px;
    margin-top: 0;
}

.backToButton {
    background-color: var(--blueMid);
    width: 100%;
    font-family: inherit;
    margin-bottom: 28px;
  }

.backToButton:hover {
    background-color: var(--blueDark);
    color: var(--blueLight);
}

.userButton {
    color: var(--blueDark);
    border: 1px solid var(--blueDark);
    text-decoration: none;
    font-weight: 700;
    display: block;
    border-radius: 31px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.userButton:hover:not(.backToButton) {
    background-color: var(--blueMid);
}

.sendEmail {
    text-align: center;
}

#profileHeader {
    display: grid;
    row-gap: 20px;
    column-gap: 15px;
    grid-template-columns: 35% auto 59%;
    grid-template-rows: auto auto auto;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

#profileHeader p {
    margin: 0;
    padding: 0;
}

#profileHeader p:first-of-type {
    font-weight: 600;
}

#profileHeader p:nth-last-of-type(2) {
    font-weight: 600;
}

.editProfileButton, .sendEmail {
    grid-column: 1 / span 3;
    width: 100%;
}

.profilePic {
    border: 3px solid var(--blueDark);
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    height: 8em;
    object-fit: cover;
    justify-self: center;
}

.userDetails {
    grid-column: 3 / span 2;
    text-align: left;
    align-self: baseline;
}

.topInterest {
    background-color: var(--blueDark);
    color: var(--blueLight);
    border-radius: 180px 350px 0 180px;
    height: 37px;
    font-weight: 700;
    line-height: 37px;
    grid-column: 3 / span 1;
    text-align: center;
}

.blurbInterest {
    background-color: var(--greenDark);
    border-radius: 100px 0 150px 100px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    grid-column: 1 / span 3;
    text-align: center;
}

.otherInterests {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.interest {
    background-color: var(--blueMid);
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-weight: 600;
}

.profileBio {
    background-color: #FCFAED;
    padding: 30px 20px;
    border-radius: 6px;
    font-size: 14px;
    text-align: left;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.profilePrompts {
    margin-left: auto;
    margin-right: auto;
}

.promptQuestion {
    background-color: var(--blueDark);
    color: var(--blueLight);
    border-radius: 31px;
    font-size: 14px;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 0;
}

.promptAnswer {
    background-color: #FCFAED;
    border-radius: 0 0 6px 6px;
    font-size: 12px;
    padding: 20px 20px 10px 20px;
    margin-top: -10px;
    position: relative;
    z-index: -1;
    font-size: 14px;
}

@media only screen and (min-width: 880px) {
    #userProfilePage {
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto;
        max-width: 100%;
    }

    .backToButton {
        grid-column: 1 / span 10;
        grid-row: 1 / span 1;
        margin-bottom: 24px;
    }

    #profileHeader {
        text-align: center;
        grid-column: 1 / span 3;
        row-gap: 15px;
        width: 80%;
        max-width: 300px;
        margin-top: 0;
        justify-content: center;
    }

    .sendEmail {
        margin-bottom: 24px;
    }

    .profileContent {
        grid-column: 4 / span 6;
    }

    .profileBio {
        margin-top: 0;
    }

    .profilePic {
        height: 150px;
        grid-column: 1 / span 3;
    }

    .userDetails {
        text-align: center;
        grid-column: 1 / span 3;
    }

    .topInterest {
        grid-column: 1 / span 3;
    }
}