:root {
  --blueDark: #1A4054;
  --blueMid: #C0DBE6;
  --blueLight: #E9F2F6;
  --greenDark: #B9A41C;
  --greenMid: #DDC422;
  --greenLight: #F4ECB8;
}

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Sora', -apple-system, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blueLight);
  color: var(--blueDark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#titleCard {
  background-color: var(--blueDark);
  width: 30%;
  height: 61vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  border-radius: 24% 0 24% 24%;
}

#titleCard h1 {
  font-family: 'Titan One', sans-serif;
  text-transform: lowercase;
}

#titleCard .green {
  color: var(--greenDark);
}

#titleCard .blue {
  color: var(--blueMid);
}

#titleCard div {
  color: var(--blueLight);
}

#loginForm p > * {
  display: block;
}

#loginButton {
  background-color: var(--greenDark);
  border: none;
  border-radius: 10px;
}

#createAccount {
  background-color: var(--blueDark);
  border: none;
  border-radius: 30px 0 30px 30px;
}