:root {
  --blueDark: #1A4054;
  --blueMid: #C0DBE6;
  --blueLight: #E9F2F6;
  --greenDark: #B9A41C;
  --greenMid: #DDC422;
  --greenLight: #F4ECB8;
}

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Sora', -apple-system, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blueLight);
  color: var(--blueDark);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#titleCard {
  background-color: var(--blueDark);
  height: 70vw;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  border-radius: 90px 0 90px 90px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 36px;
}

#titleCard h1 {
  font-family: 'Titan One', sans-serif;
  text-transform: lowercase;
  font-size: 40px;
}

#titleCard div {
  font-weight: 600;
}

.newLine {
  display: inline-block;
}

#titleCard .green {
  color: var(--greenDark);
}

#titleCard .blue {
  color: var(--blueMid);
}

#titleCard div {
  color: var(--blueLight);
}

input {
  border: 1px solid var(--blueMid);
  height: 50px;
  border-radius: 10px;
  width: 93%;
  font-family: inherit;
  color: inherit;
  padding-left: 15px;
}

label {
  margin-bottom: 10px;
  text-align: left;
  text-transform: lowercase;
}

footer {
  font-size: 12px;
  border-top: 1px solid var(--blueMid);
  text-align: center;
  margin: 80px auto auto auto;
}